.task-list a{
  align-items: center;
  border-bottom: 0.1rem solid rgba(0, 40, 100, 0.12);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 1.5rem;

  &:hover {
    background-color: $silver;
    color: $white;
  }

  &:hover span{
    color: $tundora
  }
}

.task-list a {
  color: $tundora;
  text-decoration: none;
}

.task-list span {
  display: flex;
  font-size: 1.5rem;
  color: $tundora;
  text-decoration: none;
}

.task-list span:nth-child(1) {
  width: 40%;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.task-list span:nth-child(2) {
  width: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.task-list span:nth-child(3) {
  width: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.task-list span:nth-child(4) {
  width: 30%;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
}

.task-list .task-list__label.unassigned {
  padding: 1rem;
  background-color: $cosmos;
  color: $white;
  border-radius: $border-radius;

  &:hover {
    color: $white;
  }
}

.project-list__label {
  display: flex;
  align-items: center;
  font-size: 1.6rem;

  i {
    padding-right: 1.2rem;
  }
}
