$toast-width: 100vw;
$toast-width-md: 100vw / 2;

.toast {
  background-color: $tundora;
  bottom: 0;
  color: $white;
  position: fixed;
  width: $toast-width;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;

  &--success {
    background-color: $magic-mint;
    color: $white
  }

  &--warning {
    background-color: $easter;
    color: $tundora
  }

  &--error {
    background-color: $cosmos;
    color: $white
  }

  &--info {
    background-color: $sky-blue;
    color: $white
  }

  @media screen and(min-width: 768px) {
    width: $toast-width-md;
    margin-left: calc(50vw / 2);
  }
}
