.workspace,
.workspace .grid,
.workspace .grid__inner {
  min-height: 100vh;
}

.workspace .grid {
  padding-left: 0;
  padding-right: 0;
}

.workspace__sidebar {
  min-height: 100vh;
}

.team__name {
  background-color: $polo-blue;
}

.team__name span {
  align-content: center;
  align-items: center;
  color: $white;
  border-bottom: 0.1rem solid rgba(0, 40, 100, 0.12);
  display: flex;
  flex-direction: row;
  font-size: $heading-font-h6-xs;
  justify-content: space-between;
  padding: 7.5rem 1.5rem 2.5rem 1.5rem;
  vertical-align: middle;
  cursor: pointer;
}

.sidebar--left {
  background-color: $silver-clear;
  border-right: 0.1rem solid rgba(0, 40, 100, 0.12);
}

.sidebar--rigth {
  padding: 1.5rem;
  border-left: 0.1rem solid rgba(0, 40, 100, 0.12);
}

.conversation__box,
.team__mission,
.workspace__intro,
.project__tree {
  padding: 1.5rem;
  background-color: $white;
  border: 0.1rem solid rgba(0, 40, 100, 0.12);
}

.workspace__intro {
  margin-top: 7rem;
  line-height: 2;
  text-align: center;
}

.intro--body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.intro--body button {
  margin: 1.5rem 0;
}

.intro--body p {
  font-size: 1.5rem;
}

.new__msg {
  align-items: center;
  color: $picton-blue;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: center;
  width: auto;
}

.workspace__intro h4 {
  font-size: $heading-font-h4-xs;
  font-weight: 300;
  text-align: center;
}

.conversation__box .button-container {
  text-align: right;
}

.conversation__box .form-group input[type="text"],
.form-group .label--bold {
  font-weight: 500;
}

.form-group .label--bold {
  font-size: $heading-font-h6;
}

.conversation__box textarea {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.team__mission .form-group {
  margin-bottom: 0;
  margin-top: 0;
}

.team__mission {
  margin-top: 7rem;
}

.project__tree {
  max-height: 40rem;
}

.team__mission--title p,
.project__tree--title p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.team__mission textarea {
  padding-bottom: 1rem;
  padding-top: 1rem;
  line-height: 1.2;
}

.project__tree--body p {
  font-size: 1.5rem;
  font-weight: 200;
}

.project__tree--body /deep/ .project {
  max-height: 20rem;
  overflow-y: auto;
}

.project__tree--body button {
  margin: 1.5rem 0;
}

.separation {
  margin-bottom: 3rem;
}
